mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-flow: row;
}
.mat-headline {
  margin-bottom: 0;
  flex: 1 1 auto;
  text-align: center;
  /* The padding is to enlarge the clickable area; without it the element's height is considerably less than the mat-toolbar height */
  padding: 12px 0;
  display: flex;
}
.back {
  padding: 2px 6px;
}
@media (max-width: 599px) {
  .back {
    padding: 4px 2px;
  }
  button {
    padding: 0;
  }
  mat-toolbar {
    padding: 0 4px;
  }
}