mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-content: center;
}
.mat-headline {
  margin-bottom: 0;
  flex: 1 1 auto;
  text-align: center;
  /* The padding is to enlarge the clickable area; without it the element's height is considerably less than the mat-toolbar height */
  padding: 12px 0;
}
