mat-card {
  padding-bottom: 8px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
}
mat-form-field{
  margin-top: -.75em;
}

.logo {
  width: 140px;
}

#current-weather {
  display: flex;
  align-content: center;
  max-width: 350px;

  .text-info, .wind {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .wind {
    text-align: center;
  }
  .description {
    white-space: nowrap;
  }
  .city-name, .wind-speed {
    margin-bottom: 0;
  }
  .icon {
    width: 128px;
  }
  .wind-icon {
    width: 16px;
  }
}

.mat-display-1 {
  margin-bottom: 0;
}
.icon-container {
  flex: 1 1 100%;
  text-align: center;
}

#forecast {
  overflow: auto;
  white-space: nowrap;
  cursor: auto;

  .forecast-item {
    display: inline-block;
    margin-left: 8px;
    text-align: center;
  }
  .forecast-item:first-child {
    margin-left: 0;
  }
  .icon {
    width: 30px;
  }
}

.button-container {
  text-align: right;
}
