@import '~@angular/material/theming';
// Plus imports for other components in your app.

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-dashboard-primary: mat-palette($mat-amber);
$md-dashboard-accent:  mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$md-dashboard-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$md-dashboard-theme: mat-light-theme($md-dashboard-primary, $md-dashboard-accent, $md-dashboard-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Avenir, Helvetica, Arial, sans-serif'
);

// Include theme styles for core and each component used in your app.
@mixin widget-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);

  // Use mat-color to extract individual colors from a palette as necessary.
  .mat-card-title {
    background-color: mat-color($primary, A100);
  }
  .soft-background-theme-color {
    background-color: mat-color($primary, 50);
  }
  .mat-h2 {
    font: 400 24px/32px Avenir, Helvetica, Arial, sans-serif;
  }
}

@mixin widget-accent-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $accent: map-get($theme, accent);

  // Use mat-color to extract individual colors from a palette as necessary.
  .mat-card-title.accent {
    background-color: mat-color($accent, 100);
  }
  .soft-background-accent-theme-color {
    background-color: mat-color($accent, 50);
  }
  .iex-widget-chart-title {
    background-color: mat-color($accent, 50);
  }
  .iex-chart-price-line {
    stroke: mat-color($accent, A700);
  }
}
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($md-dashboard-theme);
@include mat-core($custom-typography);
@include widget-theme($md-dashboard-theme);
@include widget-accent-theme($md-dashboard-theme);
