body { margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
.page-header {
  padding: 8px 16px;

  h1 {
    margin-bottom:0;
  }
}
.bold {
  font-weight: bold !important;
}
.more-button {
  min-width: 48px !important;
  line-height: normal !important;
  margin-left: 8px !important;
}
/* Invisible for users, screenreader only */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
