mat-card-title {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
  margin-bottom: 0;
}
.logo {
  width: 140px;
}
#current-weather {
  display: flex;
  align-content: center;
}
#current-weather .text-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#current-weather .description {
  white-space: nowrap;
}
.mat-display-1 {
  margin-bottom: 0;
}
.icon-container {
  flex: 1 1 100%;
  text-align: center;
}
.icon {
  width: 128px;
}
#current-weather .city-name {
  margin-bottom: 0;
}
/* .bold {
  font-weight:bold;
} */
