/* Changes in mat styles */
.mat-card {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8px;
}
.mat-display-1 {
  margin-bottom: 0;
}

/* In page header */
.page-header {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 16px;
  }
  img {
    padding: 8px;
    vertical-align: middle;
  }
}
.logo {
  width: 140px;
}

/* In page content */
.page-content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 0 16px;
}
#all-cities-container, #selected-city-container {
  max-width: 600px;
}
.current-weather {
  display: flex;
  align-content: center;
  max-width: 350px;

  .text-info, .wind {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .text-info {
    width: 145px;
  }
  .wind {
    text-align: center;
  }
  .description {
    white-space: nowrap;
  }
  .city-name, .wind-speed {
    margin-bottom: 0;
  }
  .icon {
    width: 110px;
  }
  .wind-icon {
    width: 16px;
  }
}

/* In all-cities-container */
#all-cities-container mat-card {
  cursor: pointer;
}
.more-button-container {
  margin: 0 0 8px 8px !important;
  align-self: flex-end;
}

/* In selected-city-container */
.forecast {
  overflow: auto;
  white-space: nowrap;
  cursor: auto;

  .forecast-item {
    display: inline-block;
    padding: 0 4px;
    margin-bottom: 8px;
    text-align: center;
  }
  .forecast-item-day-border {
    border-left: dotted 1px;
  }
  .forecast-item:first-child {
    border-left: none;
  }
  .icon {
    width: 30px;
  }
}
