<div class="page-header">
  <h1 class="mat-headline">Weer</h1>
  <a href="https://openweathermap.org/">
    <img class="logo" src="assets/OpenWeatherMap_orange.svg" alt="logo OpenWeatherMaps" [ngStyle]="{'height': logoHeight, 'width': logoWidth}">
  </a>
</div>

<div class="page-content" [ngStyle]="pageContentStyle">

  <p class="error-message mat-body-1" *ngIf="errorMessage">{{errorMessage}}</p>

  <div *ngIf="selectedCity" id="selected-city" [ngStyle]="selectedCityStyle">
    <mat-card class="soft-background-accent-theme-color">
      <div class="current-weather">
        <div class="text-info">
          <div class="mat-h2 city-name">{{selectedCity.current_weather.city}}</div>
          <div class="mat-body-2 description">{{selectedCity.current_weather.description}}</div>
          <div *ngIf="selectedCity.current_weather.temp" class="mat-display-1">{{selectedCity.current_weather.temp}}°</div>
        </div>
        <div class="icon-container">
          <img class="icon" [src]="selectedCity.current_weather?.icon" alt="icoontje van weertype">
        </div>
        <div class="wind">
          <div class="mat-body-2">wind</div>
          <div class="mat-body-2">{{windDirection(selectedCity.current_weather.wind_direction)}}</div>
          <div class=" mat-h2 wind-speed">{{windSpeedBeaufort(selectedCity.current_weather.wind_speed)}}</div>
        </div>
      </div>
      <div class="forecast">
        <div class="forecast-item" *ngFor="let forecastItem of selectedCity.forecast.data" [class.forecast-item-day-border]="forecastItem.time === '2u'">
          <div class="mat-body-1">{{forecastItem.time}}</div>
          <div class="temp mat-body-2" *ngIf="forecastItem.temp">{{forecastItem.temp}}°</div>
          <div>
            <img class="icon" [src]="forecastItem.icon" alt="icoontje van weertype">
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div id="all-cities-container">
    <ul class="ul" id="all-cities">
      <li *ngFor="let item of items" [id]="selectedItem === item ? 'selected-item' : '' " (click)="selectItem(item)">
        <mat-card>
          <div class="current-weather">
            <div class="text-info">
              <div class="mat-h2 city-name">{{item.current_weather.city}}</div>
              <div class="mat-body-2 description">{{item.current_weather.description}}</div>
              <div *ngIf="item.current_weather.temp" class="mat-display-1">{{item.current_weather.temp}}°</div>
            </div>
            <div class="icon-container">
              <img class="icon" [src]="item.current_weather?.icon" alt="icoontje van weertype">
            </div>
            <div class="wind">
              <div class="mat-body-2">wind</div>
              <div class="mat-body-2">{{windDirection(item.current_weather.wind_direction)}}</div>
              <div class=" mat-h2 wind-speed">{{windSpeedBeaufort(item.current_weather.wind_speed)}}</div>
            </div>
          </div>
        </mat-card>
      </li>
    </ul>    
  </div>

  <div class="selected-item-container soft-background-theme-color" *ngIf="selectedItem && columns === 2">
  </div>
</div>
