
.mat-card {
  padding-top: 0;
  padding-bottom: 0;
}
.mat-display-1 {
  margin-bottom: 0;
}

.page-header {
  display: flex;
  align-items: center;
  img {
    margin-left: 24px;
  }
}
.logo {
  width: 140px;
}
.page-content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 0 16px;
}
li, #selected-city {
  max-width: 600px;
}

.current-weather {
  display: flex;
  align-content: center;
  max-width: 350px;

  .text-info, .wind {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .text-info {
    width: 110px;
  }
  .wind {
    text-align: center;
  }
  .description {
    white-space: nowrap;
  }
  .city-name, .wind-speed {
    margin-bottom: 0;
  }
  .icon {
    width: 110px;
  }
  .wind-icon {
    width: 16px;
  }
}

.forecast {
  overflow: auto;
  white-space: nowrap;
  cursor: auto;

  .forecast-item {
    display: inline-block;
    padding: 0 4px;
    margin-bottom: 8px;
    text-align: center;
  }
  .forecast-item-day-border {
    border-left: dotted 1px;
  }
  .forecast-item:first-child {
    border-left: none;
  }
  .icon {
    width: 30px;
  }
}
