mat-card {
  padding-bottom: 4px;
}
mat-card-title {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
}
mat-tab-group {
  min-height: 410px;
}
.mat-h2 {
  margin-bottom: 0;
}
.mat-h3 {
  line-height: 1;
}
.mat-body-1 {
  display: flex;
}
.mat-h3, .mat-body-1 {
  margin-bottom: 8px;
}
.mat-display-1 {
  margin-bottom: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 16px;
  margin-right: 8px;
}
.iex-widget-chart-title {
  margin-bottom: 0;
  padding: 0 16px;
}
.quote-info {
  margin-bottom: 16px;
}
.quote-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.quote-info-top-left {
  display: flex;
  flex-flow: column;
}

.button-container {
  text-align: right;
  margin-bottom: 4px;
  margin-right: 3px;
}
