/* Changes in mat styles */
.mat-card {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8px;
}
.mat-display-1 {
  margin-bottom: 0;
}

/* In page title */
.page-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  img {
    margin-left: 8px;
    width: 30px;
  }
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.logo-text {
  font-size: 16px;
  color: rgb(0,0,0);
}
.logo-link {
  text-decoration: none;
}
.update-message {
  margin-bottom: 16px;
}

/* In page content */
.page-content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 0 16px;
}
#all-companies-container, #selected-company-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 16px;
}
.company-header {
  padding-top: 16px;
}
/* In all-companies-container */
#all-companies-container mat-card {
  cursor: pointer;
}
#all-companies-container .company-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.more-button-container {
  padding-bottom: 8px;
  text-align: right;

  &.transparent {
    opacity: 0.4;
  }
}

/* In selected-company-container */
.selected-subheading {
  margin-top: 8px;
}
