x/* Changes in mat styles */
.mat-h3, .mat-body-1 {
  margin-bottom: 8px;
}
.mat-h3 {
  line-height: 1.2;
}

/* In page header and page content */
.page-header {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 16px; 
  }
  img {
    padding: 8px;
    vertical-align: middle;
  }
}
.page-content {
  display: flex;
  justify-content: space-around;
  margin: 0 16px;
}
#all-items-container, #selected-item-container {
  max-width: 600px;
  flex: 1;
}

/* In selected-item-container */
#selected-item-container {
  margin: 0 0 8px 32px;
  padding: 16px;

  img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 8px;
  }
}

/* ::ng-deep is deprecated, see: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep */
/* h2 heading inside Nos and Guardian news body text */
::ng-deep .body-text h2 {
  font-size: 1em;
}

/* Images inside Guardian news body text */
::ng-deep .gu-image {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}
/* //// End of selected-item-container //// */

/* In all-items-container */
#all-items-container li {
  cursor: pointer;
}
.ul li {
  padding: 16px 0 0;
  border-bottom: solid 1px rgba(0,0,0,.12);
}
#all-items-container a {
  color: inherit;
  text-decoration: none;
}
.thumbnail-small {
  height: 50px;
  margin: 0 8px 0px 0;
}
.thumbnail-medium {
  height: 130px;
  display: block;
  margin: 0 auto 8px;
}
.thumbnail-large {
  max-height: 320px;
  display: block;
  margin: 0 auto 8px;
}
.item-body {
  display: flex;
  overflow: hidden;
}
.more-button {
  float: right;
}
