/* mat-toolbar is fixed to the top and has at (max-width: 599px) 56px height and beyond that 64px height */
mat-sidenav-container {
  margin-top: 64px;

  @media(max-width: 599px) {
    margin-top: 56px;
  }
}
mat-sidenav {
  width: 200px;
}
a.active {
  background-color: rgba(0,0,0, 0.04)
}